*
!polybar
!polybar/*
!polybar/themes/*
!polybar/scripts/*
!polybar/modules/*
!alacritty
!alacritty/*
!bspwm
!bspwm/*
!sxhkd
!sxhkd/*
!dunst
!dunst/*
!rofi
!rofi/*
!ranger
!ranger/*
!fonts
!fonts/*
!.gitignore
!.vimrc
!nvim
!nvim/*
