@import 'colors-waybar.css';

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", Material, "Material Design Icons";
  font-size: 17px;
}

window#waybar {
  background-color:transparent;
  color: @foreground;
  transition-property: background-color;
  transition-duration: 1.5s;
}

#workspaces {
  border-radius: 9px;
  background-color: transparent;
  margin: 2px 0 2px 7px;
  padding: 0 4px 0 4px;
}

#workspaces button {
  margin: 0;
  background-color: transparent;
  padding: 0px 2px 0px 2px;
  color: @color1;
}

#workspaces button.visible {
  box-shadow: inset 0 -0px #887E61;

}

#workspaces button.focused {
  color: @color7;
  box-shadow: inset 0 -3px @color3;
}

#workspaces button.persistent {
  color: transparent;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#clock {
  font-family: Jetbrains Mono Medium Nerd Font; 
  font-size: 15px;
  padding: 2px 9px 2px 9px;
  margin: 2px 0 0 0;
  background-color: transparent;
  color: @foreground;
  border-radius: 9px;
}

#battery {
  font-size: 14px;
  margin: 2px 0 0 0;
  background-color: transparent;
  color: @foreground;
  padding: 2px 9px 2px 9px;
}

#battery.charging {
  color: #ffffff;
  background-color: @background;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
  padding: 2px 9px 2px 9px;
  margin: 2px 0 0 0;
  font-size: 17px;
  background-color: transparent; 
  color: #8FBCBB;
}

#network.disconnected {
  background-color: @background;
  color: #f53c3c;
}

#pulseaudio {
  padding: 2px 9px 2px 9px;
  font-size: 14px;
  margin: 2px 0 0 0;
  background-color: transparent;
  color: @foreground;
}

#pulseaudio.muted {
  background-color: @background;
  color: #D08770;
}

#tray {
  padding: 2px 9px 2px 9px;
  margin: 2px 0 0 0;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}
